@model BOOKING.Models.Product

<!--html helper-->
<!--Formularz dodawania pokoi do systemu-->

    <form asp-controller="BookingSys" asp-action="Add" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
    <p>Nazwa: </p>
    @Html.TextBoxFor(x => x.Name)
    <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
    <p>Opis: </p>
    @Html.TextBoxFor(x => x.Description)
    <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="form-group">
    <p>Kategoria: </p>
    @Html.TextBoxFor(x => x.Category)
    <span asp-validation-for="Category" class="text-danger"></span>
    </div>

    <div class="form-group">
    <p>Miasto: </p>
    @Html.TextBoxFor(x => x.Locality)
    <span asp-validation-for="Locality" class="text-danger"></span>
    </div>

    <div class="form-group">
    <p>Od kiedy dostępne: </p>
    <input asp-for="startDate" type="date" class="form-control" min="@DateTime.Now.ToString("yyyy-MM-dd")" />
    <span asp-validation-for="startDate" class="text-danger"></span>
    </div>

    <div class="form-group">
    <p>Do kiedy dostępne: </p>
    <input asp-for="endDate" type="date" class="form-control" min="@DateTime.Now.ToString("yyyy-MM-dd")" />
    <span asp-validation-for="endDate" class="text-danger"></span>
    </div>

    <div class="form-group">
        <p>Podaj cene: </p>
        @Html.TextBoxFor(x => x.Price)
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>

    <div class="form-group">
        <p>Podaj adres: </p>
        @Html.TextBoxFor(x => x.FullAddress)
        <span asp-validation-for="FullAddress" class="text-danger"></span>
    </div>

    <div class="form-group">
        <span class="form-label">Wybierz</span>
        <select class="form-control" name="Firm" id="Firm">
            <option value="Firma">Firma</option>
            <option value="Prywatnie">Prywatnie</option>
        </select>
        <span class="select-arrow"></span>
        <span asp-validation-for="Firm" class="text-danger"></span>
    </div>

    <div class="form-group">
        <p>Podaj numer telefonu: </p>
        @Html.TextBoxFor(x => x.Number)
        <span asp-validation-for="Number" class="text-danger"></span>
    </div>

    <div class="form-group">
        <p>Zdjęcia:</p>
        <input type="file" name="ImageFiles" multiple />
        <span asp-validation-for="ImageFiles" class="text-danger"></span>
    </div>

    <p><button type="submit" value="Create">Wyślij</button></p>
    </form>

<style>
    p {
        display: block;
        margin-top: 1em;
        margin-bottom: 1em;
        margin-left: 0;
        margin-right: 0;
        font-family: courier;
        font-size: 120%;
    }
</style>