@model BOOKING.Models.Product

<h1>Szczegóły noclegu</h1>
<p>Nazwa: @Model.Name</p>
<p>Opis: @Model.Description</p>
<p>Kategoria: @Model.Category</p>
<p>Lokalizacja: @Model.Locality</p>
<p>Od kiedy dostępne: @Model.startDate.ToShortDateString()</p>
<p>Do kiedy dostępne: @Model.endDate.ToShortDateString()</p>