@model dynamic

@{
    var products = (IEnumerable<Product>)ViewData["Product"];
    var reservations = ViewData["Reservations"] as List<Reservation>;
    var displayedProductIds = new HashSet<int>();
}
<link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />

<link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />


<h2>Lista pokoi</h2>
<html>
<head>
    <style>
        h2 {
            color: white;
            background-color: rgb(30,30,30, 1);
            padding: 0.5em;
            margin-left: auto;
            margin-right: auto;
            box-shadow: 0px 0px 20px 0px black;
            width: 60%;
            text-align: center;
        }
        h3 {
            color: white;
            background-color: rgb(231,76,60);
            padding: 0.5em;
            margin-left: auto;
            margin-right: auto;
            box-shadow: 0px 0px 20px 0px black;
            width: 40%;
            text-align: center;
        }
        .list{
            color: white;
            background-color: rgb(30,30,30, 1);
            box-shadow: 0px 0px 20px 0px black;
            padding: 1em;
            margin-left: 3%;
            margin-bottom: 3%;
            width: 45%;
            text-align: center;
            float: left;
            height: 530px;
        }
        Id{
            color: white;
            background-color: rgb(30,30,30, 1);
            box-shadow: 0px 0px 20px 0px black;
            padding: 0.5em;
            width: auto;
        }
        .details{
            color: white;
            text-decoration: none;
            background-color: rgb(231,76,60);
            padding: 10px 20px;
            text-transform: uppercase;
            border-radius: 2px;
            position: relative;
            text-align: center;
            vertical-align: middle;
            font-size: 1rem;
            width: 100%;
            float: left;
            margin-bottom: 0.5em;
        }

        .btn{
            color: white;
            text-decoration: none;
            background-color: rgb(231,76,60);
            padding: 10px 20px;
            text-transform: uppercase;
            border-radius: 2px;
            position: relative;
            text-align: center;
            vertical-align: middle;
            font-size: 1rem;
            width: 100%;
            margin-bottom: 0.5em;
        }

    </style>
</head>
</html>
<ol>
    @if(products == null)
    {
        <h3>Brak dostępnych pokoi</h3>
    }
    else
    {
    @foreach (var product in products)
    {
        var isReserved = reservations.Any(r => r.ProductId == product.Id && r.Start == product.startDate && r.End == product.endDate);
        if (!displayedProductIds.Contains(product.Id))
        {
            displayedProductIds.Add(product.Id);
            <li class="list">
                <b>@product.Name</b> - @product.Category
                @if (isReserved)
                {
                    <p>ZAREZERWOWANY</p>
               }
                    @if (product.ImageUrls != null)
                    {
                        foreach (var imgUrl in product.ImageUrls)
                        {
                            <img src="@Url.Content(imgUrl.Url)" alt="Product Image" style="width: 300px; height: 300px;" />
                        }
                    }
                    
                    @using (Html.BeginForm("Delete", "BookingSys", FormMethod.Post))
                    {    
                        <input type="hidden" name="Id" value="@product.Id" />
                        <button class="btn" type="submit">Usuń</button>   
                    }
                    <a href="@Url.Action("Details","BookingSys", new { Id = product.Id})" class="details">Szczegóły</a>
            </li>
        }
    }
    }
</ol>
