@model dynamic

@{
    var products = (IEnumerable<Product>)ViewData["Product"];
    var reservations = ViewData["Reservations"] as List<Reservation>;
    var displayedProductIds = new HashSet<int>();
}
<link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />

<link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />


<h2>Lista pokoi</h2>
<html>
<head>
    <style>
        h2 {
            color: white;
            background-color: rgb(30,30,30, 0.95);
            border-radius: 0.5em;
            padding: 0.5em;
            margin: 1em 0.5em 0.5em 0.5em;
            box-shadow: 0px 0px 20px 0px black;
            width: 98%;
            text-align: center;
        }
    </style>
</head>
</html>
<ol>
    @if(products == null)
    {
        <h1>Brak dostępnych pokoi</h1>
    }
    else
    {
    @foreach (var product in products)
    {
        var isReserved = reservations.Any(r => r.ProductId == product.Id && r.Start == product.startDate && r.End == product.endDate);
        if (!displayedProductIds.Contains(product.Id))
        {
            displayedProductIds.Add(product.Id);
            <li>
                <b>@product.Name</b> - @product.Category
                @if (isReserved)
                {
                    <p>ZAREZERWOWANY</p>
               }
                <a href="@Url.Action("Details","BookingSys", new { Id = product.Id})">Szczegóły</a>

                @using (Html.BeginForm("Delete", "BookingSys", FormMethod.Post))
                {
                    <input type="hidden" name="Id" value="@product.Id" />
                    <button class="btn" type="submit">Usuń</button>
                }
                    @if (product.ImageUrls != null)
                    {
                        foreach (var imgUrl in product.ImageUrls)
                        {
                            <img src="@Url.Content(imgUrl.Url)" alt="Product Image" style="width: 150px; height: 220px;" />
                        }
                    }
            </li>
        }
    }
    }
</ol>
