@model IEnumerable<BOOKING.Models.Reservation>
<link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />

<link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />


<h1>Lista rezerwacji</h1>

<ol>
    @foreach (var reservation in Model)
    {
        <li>
            <b>@reservation.Name</b> - @reservation.secondName - @reservation.Start - @reservation.End - @reservation.ProductId - @reservation.CustomerId
            
        </li>
    }
</ol>